**/__pycache__/
**/.DS_Store/
**/.idea/
**/.ipynb_checkpoints/

expert_data/
saved_trajectories/
**/wandb/
**/all_model/
**/loss_log/
**/replay_buffer_kmeans/
**/replay_buffer_euclidean/
**/gifs/
**/sweeps/

**/*.txt
**/*.sh
**/*.json
**/*.jsonl
**/*.npy

